# Server Configuration
PORT=
NODE_ENV=
CORS_ORIGIN=

# Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_DIALECT=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Rick and Morty API
RICK_AND_MORTY_API_URL=
